<app-common-layout [title]="'Account Settings' | translate">
  <div class="{{ activeTab() !== undefined ? 'd-none' : 'd-flex flex-column' }} d-lg-none">
    @for (item of listTab; track item.title) {
      <div class="d-flex gap-2 p-3 list-item" (click)="selectTab(item.title)">
        <mat-icon fontSet="material-icons-outlined">{{ item.icon }}</mat-icon>
        <p class="mb-0 flex-fill fw-bold text-uppercase">{{ item.title | translate }}</p>
        <mat-icon>chevron_right</mat-icon>
      </div>
    }
  </div>

  <div class="{{ activeTab() !== undefined ? 'd-block' : 'd-none d-lg-block' }}">
    <mat-tab-group class="common-tab" [selectedIndex]="activeTab()" animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
      @for (item of listTab; track $index) {
        <mat-tab label="{{ item.title | translate }}"> </mat-tab>
      }
    </mat-tab-group>
    <app-tab-container (back)="closeTab()">
      <div #tabContent></div>
    </app-tab-container>
  </div>
</app-common-layout>
