@import 'variables';

$header-compact-height: 70px;
$layout-lg: 1400px;

:host {
  display: block;
  // position: sticky;
  top: $header-compact-height;
  z-index: 15;

  // @media screen and (min-width: $layout-lg) {
  //   top: 0;
  // }
}

:host(:not(.has-banner)) {
  display: none;
}

.warning-bar {
  height: 58px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: 500;
  line-height: 22px;
  color: #1d1d1b;
  background-color: #feeed7;
  z-index: 18;

  @media screen and (min-width: 1200px) {
    width: calc(100% - 250px) !important;
    
  }
}

mat-icon {
  margin-right: 12px;
  font-size: 29px;
  width: 29px;
  height: 29px;
}
