.custom-btn {
  background-color: #06985c;
  padding: 8px 16px;
  width: 159px;
  align-items: center;
}
.back-btn {
  padding: 10px 20px;
  background-color: #06985c;
}

.text-mg {
  margin-left: 10px;
}

.custom-icon {
  font-size: 1rem;
  height: 15px;
}
