<div class="page-wrapper mx-auto">
  <div class="border border-black rounded-4 form-container bg-white box-shadow">
    <h4 class="fw-bold fs-1 mb-5 text-center">{{ 'Forgotten Password' | translate }}</h4>

    <form [formGroup]="formGroup">
      <div class="col-12 mb-4">
        <mat-label class="fw-bold mb-1">{{ 'ENTER EMAIL*' }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="sample@gmail.com" type="text" formControlName="email" />
        </mat-form-field>
        @if (formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched) {
          <mat-error>{{ 'This is a required field.' | translate }} </mat-error>
        }
        @if (formGroup.get('email')?.hasError('email')) {
          <mat-error>{{ 'Please enter a valid email address.' }}</mat-error>
        }
        @if (serverError()) {
          <mat-error>{{ serverError() }}</mat-error>
        }
        @if (cooldownMessage()) {
          <mat-error>{{ cooldownMessage() }}</mat-error>
        }
      </div>

      <button
        type="submit"
        class="submit-button text-white w-100 text-center text-uppercase background-primary rounded border p-3 mt-3 fw-bold fs-5"
        [class.overlay-spinner]="submitting()"
        [disabled]="waitCooldown()"
        (click)="submit()"
      >
        {{ 'submit' | translate }}
      </button>
    </form>
  </div>
</div>
