:host {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 400px;
}

.page-wrapper {
  width: 100%;
  max-width: 710px;
}

.form-container {
  padding: 16px 24px;

  @media screen and (min-width: 768px) {
    padding: 30px 56px 36px;
  }
}

mat-form-field {
  margin-top: 8px;
}

.submit-button:disabled {
  opacity: 0.5;
}
