<div class="container-fluid p-3 p-md-4 p-lg-4">
  <div class="d-flex justify-content-between align-items-center w-100" mat-dialog-title>
    <h2 class="fw-bold flex-grow-1">{{ 'Personal Information' | translate }}</h2>
    <div (click)="close()" class="cursor-pointer">
      <app-icon iconName="close"></app-icon>
    </div>
  </div>

  <mat-dialog-content class="dialog-scrollable">
    <form [formGroup]="formGroup">
      <div class="row g-3 mb-4">
        <div class="col-md-2">
          <mat-label class="fw-bold mb-1 fs-16">{{ 'PREFIX' | translate }}*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="prefix" placeholder="{{ 'Please Select' | translate }}">
              <mat-option value="dr">{{ 'Dr.' | translate }}</mat-option>
              <mat-option value="miss">{{ 'Miss.' | translate }}</mat-option>
              <mat-option value="mr">{{ 'Mr.' | translate }}</mat-option>
              <mat-option value="mrs">{{ 'Mrs.' | translate }}</mat-option>
              <mat-option value="ms">{{ 'Ms.' | translate }}</mat-option>
              <mat-option value="mx">{{ 'Mx.' | translate }}</mat-option>
              <mat-option value="prof">{{ 'Prof.' | translate }}</mat-option>
              <mat-option value="rev">{{ 'Rev.' | translate }}</mat-option>
            </mat-select>
            @if (formGroup.get('prefix')?.hasError('required')) {
              <mat-error>{{ 'This field is required' | translate }} </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-label class="fw-bold mb-1 fs-16">{{ 'FIRST NAME' | translate }}*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="e.g. Mark" type="text" formControlName="firstName" />
            @if (formGroup.get('firstName')?.hasError('required')) {
              <mat-error>{{ 'This field is required' | translate }}</mat-error>
            }
            @if (formGroup.get('firstName')?.hasError('maxlength') || formGroup.get('firstName')?.hasError('pattern')) {
              <mat-error>{{ 'First Name must only contain letters and be under 50 characters' | translate }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <label class="fw-bold fs-16">LAST NAME*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="e.g. Smith" type="text" formControlName="lastName" />
            @if (formGroup.get('lastName')?.hasError('required')) {
              <mat-error>{{ 'This field is required' | translate }}</mat-error>
            }
            @if (formGroup.get('lastName')?.hasError('maxlength') || formGroup.get('lastName')?.hasError('pattern')) {
              <mat-error>{{ 'Last Name must only contain letters and be under 50 characters' | translate }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="col-12 mb-4">
        <mat-label class="fw-bold mb-1 fs-16">{{ 'JOB TITLE' | translate }}*</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="{{ 'Type here' | translate }}" type="text" formControlName="jobTitle" />
          @if (formGroup.get('jobTitle')?.hasError('required')) {
            <mat-error>{{ 'This field is required' | translate }}</mat-error>
          }
          @if (formGroup.get('jobTitle')?.hasError('maxlength') || formGroup.get('jobTitle')?.hasError('pattern')) {
            <mat-error>{{ 'Job Title must only contain letters, spaces and be under 50 characters' | translate }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 mb-4">
          <mat-label class="fw-bold mb-1 fs-16">{{ 'EMAIL ADDRESS' | translate }}*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="{{ 'Type here' | translate }}" type="text" formControlName="email" />
            @if (formGroup.get('email')?.hasError('required')) {
              <mat-error>{{ 'This field is required' | translate }}</mat-error>
            }
            @if (formGroup.get('email')?.hasError('email')) {
              <mat-error>{{ 'Invalid email address format. Please enter a valid email' | translate }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <app-telephone-form-control formControlName="phoneNumber" [isRequired]="true" [isHalf]="true"></app-telephone-form-control>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-md-between justify-content-center flex-column flex-md-row align-items-center w-100">
      <button mat-stroked-button class="text-uppercase outline-primary-btn mb-3 mb-md-0 col-md-6 col-12 fs-16" (click)="close()">
        {{ 'Discard Changes' | translate }}
      </button>
      <button
        mat-flat-button
        [disabled]="formGroup.invalid || formGroup.pristine"
        class="text-uppercase primary-btn fw-bold ms-md-2 col-md-6 col-12 me-2 me-md-0 fs-16"
        [class.overlay-spinner]="submitting()"
        (click)="submit()"
      >
        {{ 'Save Changes' | translate }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
