<div class="container-fluid p-3 p-md-4 p-lg-4">
  <div class="d-flex justify-content-between align-items-center w-100" mat-dialog-title>
    <h2 class="fw-bold flex-grow-1">{{ 'Notifications' | translate }}</h2>
    <div (click)="close()" class="cursor-pointer">
      <app-icon iconName="close"></app-icon>
    </div>
  </div>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <div class="row g-3 mb-4">
        <mat-label class="fw-bold fs-16">{{ 'EMAIL ME NEW LISTINGS THAT MATCH MY INTERESTS' | translate }}</mat-label>
        <mat-radio-group class="col-md-4 d-flex justify-content-between col-7" formControlName="receiveEmailForNewMatchingListings">
          <mat-radio-button class="bold-label fs-16" [value]="true">{{ 'Yes' | translate }}</mat-radio-button>
          <mat-radio-button class="bold-label fs-16" [value]="false">{{ 'No' | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row g-3 mb-4">
        <mat-label class="fw-bold fs-16">{{ 'EMAIL ME OFFERS ON MY LISTINGS' | translate }}</mat-label>
        <mat-radio-group class="col-md-4 d-flex justify-content-between col-7" formControlName="receiveEmailForOffersOnMyListings">
          <mat-radio-button class="bold-label fs-16" [value]="true">{{ 'Yes' | translate }}</mat-radio-button>
          <mat-radio-button class="bold-label fs-16" [value]="false">{{ 'No' | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-md-between justify-content-center flex-column flex-md-row align-items-center w-100">
      <button mat-stroked-button class="text-uppercase outline-primary-btn mb-3 mb-md-0 col-md-6 col-12 fs-16" (click)="close()">
        {{ 'Discard Changes' | translate }}
      </button>
      <button
        mat-flat-button
        class="text-uppercase primary-btn fw-bold ms-md-2 col-md-6 col-12 me-2 me-md-0 fs-16"
        [disabled]="formGroup.invalid || formGroup.pristine"
        [class.overlay-spinner]="submitting()"
        (click)="submit()"
      >
        {{ 'Save Changes' | translate }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
