{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "bracketSameLine": false
}