/* COLOR */
$white: white;
$black: #1d1d1b;
$primary: #03985c;
$on-primary: #ebfff7;
$secondary: #ff7b00;
$info: #e5f6f0;
$error: #d75a66;
$on-error: #fdedef;
$gray: #e2e2e2;
$grey: #f5f5f4;
$empty-state: #939797;
$input-disabled-background: #d9d9d9;

/* SPACING */
$spacing-tiny: 4px;
$spacing-small: 6px;
$spacing-medium: 10px;
$spacing-base: 14px;
$spacing-large: 20px;
$spacing-very-large: 30px;

/* BORDER-RADIUS */
$border-radius-tiny: 4px;
$border-radius-half: 8px;
$border-radius: 16px;
$border-radius-large: 28px;
