::ng-deep .resend-user-dialog .mdc-dialog__surface {
  width: 960px !important;
  max-width: 960px !important;
  height: 268px !important;
  max-height: 268px !important;
  position: absolute;
}

.resend-modal {
  padding: 60px;
  height: 100%;
}

.dialog-btn {
  width: 50%;
  height: 62px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.cancel-btn {
  border: 1px solid #03985c;
  background-color: #fff;
  color: #03985c;
}

.dialog-message {
  p {
    font-size: 32px;
    color: #333;
    margin: 0;
    font-weight: 700;
  }
}

.dialog-actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;

  button .mat-stroked-button {
    border-color: #28a745;
  }

  button .mat-flat-button {
    background-color: #28a745;
    color: white;
  }
}

.dialog-btn {
  width: 50%;
  height: 62px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
