<app-un-auth-layout>
  <app-account-onboarding-status [showStatusOnly]="true" [type]="'completing'"></app-account-onboarding-status>
  <div class="col-md-12 mx-auto d-flex justify-content-between g-3 my-5 row">
    <div class="" style="width: 320px">
      <div>
        <div class="d-flex justify-content-between">
          <div class="w-75 mx-auto fw-bold">{{ 'COMPANY INFORMATION' | translate }}</div>
          <mat-icon>add</mat-icon>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <div class="w-75 mx-auto fw-bold text-empty">{{ 'COMPANY DOCUMENTS' | translate }}</div>
          <mat-icon class="text-empty">remove</mat-icon>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <div class="w-75 mx-auto fw-bold text-empty">{{ 'SITE LOCATION' | translate }}</div>
          <mat-icon class="text-empty">remove</mat-icon>
        </div>
      </div>
    </div>
    <div class="" style="width: 830px">
      <form [formGroup]="formGroup" (submit)="submit('/company-document')" autocomplete="on">
        <div class="border border-dark boder-2 p-4 border-radius bg-white">
          <h3 class="text-center my-2 fw-bold fs-40">{{ 'Company Information' | translate }}</h3>
          <div class="px-2 py-3 background-primary d-flex align-items-center mb-4 rounded-4 justify-content-center">
            <div class="col-1 text-center d-flex align-items-center justify-content-center">
              <mat-icon class="material-icons-outlined text-white">error_outline</mat-icon>
            </div>
            <div class="fw-500 fs-16 text-white">
              {{ 'Ensure all details are correct, errors may delay verification (*Required field).' | translate }}
            </div>
          </div>
          <div class="col-12 mb-4">
            <mat-label class="fw-bold mb-1">{{ 'COMPANY TYPE' | translate }} <span class="asterisk">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="companyType" placeholder="{{ 'Please Select' | translate }}">
                <mat-option value="manufacturer">{{ 'Manufacturer' | translate }}</mat-option>
                <mat-option value="processor">{{ 'Processor' | translate }}</mat-option>
                <mat-option value="recycler">{{ 'Recycler' | translate }}</mat-option>
                <mat-option value="broker">{{ 'Broker' | translate }}</mat-option>
                <mat-option value="waste_producer">{{ 'Waste Producer' | translate }}</mat-option>
              </mat-select>
              @if (formGroup.get('companyType')?.hasError('required')) {
                <mat-error>This field is required </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-12 mb-4">
            <mat-label class="mb-0 fw-bold">{{ 'VAT COUNTRY LOCATION' | translate }} <span class="asterisk">*</span></mat-label>
            <mat-radio-group
              formControlName="vatRegistrationCountry"
              class="d-flex justify-content-between radio-mat-error col-md-8"
              name="vatRegistrationCountry"
            >
              <mat-radio-button class="bold-label" value="EU">{{ 'EU (European Union)' | translate }}</mat-radio-button>
              <mat-radio-button class="bold-label" value="UK">{{ 'United Kingdom' | translate }}</mat-radio-button>
              <mat-radio-button class="bold-label" value="Other">{{ 'Other' | translate }}</mat-radio-button>
            </mat-radio-group>
            @if (
              formGroup.get('vatRegistrationCountry')?.hasError('required') &&
              (formGroup.get('vatRegistrationCountry')?.touched || formGroup.get('vatRegistrationCountry')?.dirty)
            ) {
              <mat-error class="mt-0 mat-error">{{ 'This field is required' | translate }}</mat-error>
            }
          </div>
          @if (formGroup.get('vatRegistrationCountry')?.value) {
            <div class="col-md-12 mb-4">
              <label class="fw-bold">{{ 'COMPANY VAT NUMBER' | translate }} <span class="asterisk">*</span></label>
              @if (formGroup.get('vatRegistrationCountry')?.value === 'Other') {
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="{{ 'Type here' | translate }}" type="text" formControlName="vatNumberOther" />
                  @if (formGroup.get('vatNumberOther')?.hasError('required')) {
                    <mat-error>{{ 'This field is required' | translate }}</mat-error>
                  }
                  @if (formGroup.get('vatNumberOther')?.hasError('maxlength')) {
                    <mat-error>{{ 'Company Vat Number cannot exceed 20 characters' | translate }}</mat-error>
                  }
                </mat-form-field>
              } @else {
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    placeholder="{{ 'Type here' | translate }}"
                    type="text"
                    formControlName="vatNumberEuUk"
                    (blur)="validateVatNumber()"
                  />
                  @if (formGroup.get('vatNumberEuUk')?.hasError('required')) {
                    <mat-error>{{ 'This field is required' | translate }}</mat-error>
                  }
                  @if (formGroup.get('vatNumberEuUk')?.hasError('maxlength')) {
                    <mat-error>{{ 'Company Vat Number cannot exceed 20 characters' | translate }}</mat-error>
                  }
                  @if (formGroup.get('vatNumberEuUk')?.hasError('invalidVat')) {
                    <mat-error>{{ 'This VAT number could not be verified. Please make sure you added the country code and try again.' | translate }}</mat-error>
                  }
                  @if (formGroup.get('vatNumberEuUk')?.hasError('vatLookupFailed')) {
                    <mat-error>{{ 'Unable to verify VAT right now. Please try again later.' | translate }}</mat-error>
                  }
                  @if (vatValid()) {
                    <mat-hint class="text-success">{{ 'VAT validated successfully' | translate }}</mat-hint>
                  }
                </mat-form-field>
              }
            </div>
          }
          <div class="col-12 mb-4">
            <mat-label class="fw-bold mb-1">{{ 'COMPANY REGISTRATION NUMBER' | translate }} <span class="asterisk">*</span></mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="{{ 'Type here' | translate }}" type="text" formControlName="registrationNumber" />
              @if (formGroup.get('registrationNumber')?.hasError('required')) {
                <mat-error>{{ 'This field is required' | translate }}</mat-error>
              }
              @if (formGroup.get('registrationNumber')?.hasError('maxlength')) {
                <mat-error>{{ 'Company Registration Number cannot exceed 20 characters' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-12 mb-4">
            <label class="fw-bold">{{ 'STREET ADDRESS' | translate }} <span class="asterisk">*</span></label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="{{ 'Type here' | translate }}" type="text" autocomplete="street-address" name="street-address" formControlName="addressLine1" />
              @if (formGroup.get('addressLine1')?.hasError('required')) {
                <mat-error>{{ 'This field is required' | translate }}</mat-error>
              }
              @if (formGroup.get('addressLine1')?.hasError('maxlength')) {
                <mat-error>{{ 'Street Address cannot exceed 100 characters' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="row g-3 mb-4">
            <div class="col-md-6">
              <mat-label class="fw-bold mb-1">{{ 'POST CODE' | translate }} <span class="asterisk">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="{{ 'Type here' | translate }}" type="text" autocomplete="postal-code" name="postal-code" formControlName="postalCode" />
                @if (formGroup.get('postalCode')?.hasError('required')) {
                  <mat-error>{{ 'This field is required' | translate }}</mat-error>
                }
                @if (formGroup.get('postalCode')?.hasError('maxlength')) {
                  <mat-error>{{ 'Post Code cannot exceed 20 characters' | translate }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label class="fw-bold mb-1">{{ 'CITY' | translate }} <span class="asterisk">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="{{ 'Type here' | translate }}" type="text" autocomplete="address-level2" name="address-level2" formControlName="city" />
                @if (formGroup.get('city')?.hasError('required')) {
                  <mat-error>{{ 'This field is required' | translate }}</mat-error>
                }
                @if (formGroup.get('city')?.hasError('maxlength')) {
                  <mat-error>{{ 'City cannot exceed 50 characters' | translate }}</mat-error>
                }
              </mat-form-field>
            </div>
          </div>

          <div class="row g-3 mb-4">
            <div class="col-md-6">
              <mat-label class="fw-bold mb-1">{{ 'COUNTY / STATE / REGION' | translate }} <span class="asterisk">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="{{ 'Type here' | translate }}" type="text" autocomplete="address-level1" name="address-level1" formControlName="stateProvince" />
                @if (formGroup.get('stateProvince')?.hasError('required')) {
                  <mat-error>{{ 'This field is required' | translate }}</mat-error>
                }
                @if (formGroup.get('stateProvince')?.hasError('maxlength')) {
                  <mat-error>{{ 'County / State / Region cannot exceed 50 characters' | translate }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-label class="fw-bold mb-1">{{ 'COUNTRY' | translate }} <span class="asterisk">*</span></mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="country" placeholder="{{ 'Please Select' | translate }}">
                  @for (item of countryList; track $index; let i = $index) {
                    <mat-option color="primary" [value]="item.isoCode">{{ item.name }}</mat-option>
                  }
                </mat-select>
                @if (formGroup.get('country')?.hasError('required')) {
                  <mat-error>{{ 'This field is required' | translate }}</mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="mb-3">
            <app-telephone-form-control
              [isRequired]="true"
              formControlName="phoneNumber"
              [label]="'PHONE NUMBER' | translate"
            ></app-telephone-form-control>
          </div>
        </div>
        <div class="w-100 row mt-4 g-3 mx-auto d-flex justify-content-between align-items-center">
          <div class="col-3"></div>
          <div class="col-5 fw-bold text-decoration-underline cursor-pointer text-center primary" (click)="saveAndResumeLater()">
            {{ 'SAVE AND RESUME LATER' | translate }}
          </div>
          <div class="col-3">
            <button
              type="submit"
              color="primary"
              [class.overlay-spinner]="submitting()"
              mat-flat-button
              class="w-100 p-2 fw-bold"
              [disabled]="formGroup.invalid"
            >
              {{ 'NEXT' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-un-auth-layout>
