.wrapper {
}

.title {
  color: #1d1d1b;
  font-size: 32px;
  padding: 8px 24px 16px;
}

.action-button {
  background-color: #03985c;
  color: #fff;
  padding: 6px 27px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #1d1d1b;
}

.read-button {
  @extend .action-button;
  margin: 12px 24px;
}

.view-button {
  @extend .action-button;
  margin: 12px auto 24px;
}

.content {
  padding: 0 5px;
  width: 99%;
}

.noti-list {
  margin-top: 10px;
  max-height: calc(80vh - 200px);
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: #a0a7a0;
}

.close-btn {
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 0;
}
