@if (offer(); as offer) {
  <div class="d-flex mb-4 mb-lg-5 justify-content-between">
    <button
      mat-flat-button
      class="d-flex align-items-center justify-content-center py-2 rounded px-2 background-primary text-white text-uppercase fw-bold button-back"
      (click)="onBack()"
    >
      <mat-icon class="icon">west</mat-icon>
      <span>{{ 'go back' | translate }}</span>
    </button>
  </div>
  <h2 class="fw-bold mb-4 cursor-pointer" routerLink="/wt_waste_listing/{{ offer.listing.id }}">{{ getListingTitle(offer.listing) }}</h2>

  <div class="d-flex gap-3 flex-wrap flex-lg-nowrap mb-5">
    <div class="product-image-wrapper">
      <app-product-image [images]="images()" />
    </div>

    <div class="flex-1">
      <app-product-description [items]="offerDescription()" />
    </div>
  </div>

  @switch (offerStatus()) {
    @case (OfferStatus.PENDING) {
      <app-bid-pending [offer]="offer" />
    }
    @case (OfferStatus.REJECTED) {
      <app-bid-rejected [offer]="offer" />
    }
  }
} @else {
  <app-spinner></app-spinner>
}
