<div class="page-wrapper mx-auto pt-md-5">
  <div class="border rounded-4 form-container py-3 px-4 px-sm-5 py-md-4 bg-white border-black box-shadow">
    <h4 class="fw-bold fs-1 mb-5 text-center">{{ 'Set password' | translate }}</h4>

    <form [formGroup]="formGroup" autocomplete="on">
      <div class="row">
        <app-input-with-confirm-control
          [valueLabel]="'PASSWORD' | translate"
          [confirmLabel]="'CONFIRM PASSWORD' | translate"
          [placeholder]="'Type here' | translate"
          [type]="'password'"
          formControlName="password"
          [isRequired]="true"
          autocompleteValue="new-password"
          autocompleteConfirm="new-password"
          nameValue="new-password"
          nameConfirm="confirm-password"
        >
        </app-input-with-confirm-control>
        @if (formGroup.get('password')?.hasError('pwdStrengthInvalid')) {
          <div class="col-12">
            <mat-error class="fs-12 px-2">
              {{
                'Invalid password strength. Password must contain at least 8 characters includes numbers and letters, contain at least 1 special character.'
                  | translate
              }}
            </mat-error>
          </div>
        }
        @if (pwdStrength(); as pwdStrength) {
          <div class="fw-500 col-12">
            {{ 'Strength:' | translate }}
            <span
              [class.primary]="pwdStrength == 'strong'"
              [class.error]="pwdStrength == 'weak'"
              [class.secondary]="pwdStrength == 'medium'"
              >{{ pwdStrength | titlecase | translate }}</span
            >
          </div>
        }
      </div>

      @if (serverError()) {
        <mat-error class="fs-12 px-2">{{ 'Invalid email address and/or password.' | translate }}</mat-error>
      }

      <button
        type="submit"
        class="text-white text-uppercase w-100 text-center background-primary border-radius border p-3 mt-5 fw-bold fs-5"
        (click)="send()"
      >
        {{ 'Save' | translate }}
      </button>
    </form>
  </div>
</div>
