<div class="p-5">
  <form [formGroup]="requestInfoForm">
    <div class="mb-4">
      <h2 class="fw-bold mb-4">{{ 'Request Information' | translate }}</h2>

      <div class="dialog-close-button" (click)="close()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="12" fill="#1D1D1B" />
          <path d="M7 7.06641L17.8064 17.8728" stroke="white" stroke-width="3" stroke-linecap="round" />
          <path d="M17.8086 7L7.00222 17.8064" stroke="white" stroke-width="3" stroke-linecap="round" />
        </svg>
      </div>

      <mat-radio-group class="d-flex flex-column gap-2" formControlName="requestInfo" name="requestInfo">
        @for (reason of requestInfo; track reason) {
          <mat-radio-button class="fw-bold" [value]="reason.value">{{ reason.label | translate }}</mat-radio-button>
        }
      </mat-radio-group>

      @if (requestInfoForm?.get('requestInfo')?.value == RequestInfo.Other) {
        <mat-label class="fw-bold text-uppercase d-block mb-2 mt-3">{{ 'Input custom request' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea
            matInput
            rows="2"
            style="resize: none"
            class="w-100 px-3"
            [placeholder]="'Type here' | translate"
            formControlName="message"
            name="message"
          ></textarea>

          @if (requestInfoForm.get('message')?.hasError('required')) {
            <mat-error class="mt-0"> {{ 'This is a required field.' | translate }} </mat-error>
          }
        </mat-form-field>
      }
    </div>

    <div class="mb-4">
      <h2 class="fw-bold mb-4">{{ 'Send Message' | translate }}</h2>
      <mat-radio-group class="d-flex flex-column gap-2" formControlName="sendMessage" name="sendMessage">
        @for (reason of requestInfo; track reason) {
          <mat-radio-button class="fw-bold" [value]="reason.value">{{ reason.label | translate }}</mat-radio-button>
        }
      </mat-radio-group>

      @if (requestInfoForm?.get('sendMessage')?.value == SendMessage.Other) {
        <mat-label class="fw-bold text-uppercase d-block mb-2 mt-3">{{ 'Input custom message' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <textarea
            matInput
            rows="2"
            style="resize: none"
            class="w-100 px-3"
            [placeholder]="'Type here' | translate"
            formControlName="otherMessage"
            name="otherMessage"
          ></textarea>

          @if (requestInfoForm.get('otherMessage')?.hasError('required')) {
            <mat-error class="mt-0"> {{ 'This is a required field.' | translate }} </mat-error>
          }
        </mat-form-field>
      }
    </div>

    <button class="mt-4 w-100 submit-button" mat-flat-button (click)="confirm()" [disabled]="!requestInfoForm.valid">
      {{ 'Confirm' | translate }}
    </button>
  </form>
</div>
