.button-wrapper {
  margin-bottom: 33px;
  height: 42px;
  width: 120px;
  justify-content: center;

  @media screen and (min-width: 992px) {
    margin-bottom: 40px;
  }
}

::ng-deep .cdk-overlay-pane {
  min-width: 160px !important;
  width: fit-content !important;
}
