<app-un-auth-layout>
  <div class="border border-black border-radius h-100 overflow-y-auto page-container bg-white">
    <div class="fl-module-content fl-node-content">
      <div class="fl-rich-text">
        <p style="text-align: center" class="fs-3 fs-md-6 title">
          <strong>Privacy Policy</strong>
        </p>
        <p>
          <strong><u> </u></strong>
        </p>
        <p><strong>Name: WasteTrade Holdings Limited </strong></p>
        <p>Registered Office: WasteTrade Holdings Limited, Dunston Farm, Dunston, Stafford, ST18 9AB</p>
        <p>Email: info&#64;wastetrade.com</p>
        <p>
          <strong>This privacy policy sets out how WasteTrade Holdings Limited uses and protects any information that you give.</strong>
        </p>
        <p>
          We adhere to the principles of the Data Protection legislation as set out in the Data Protection Act 2018 and EU General Data
          Protection Regulation (GDPR). WasteTrade Holdings Limited is registered with the Information Commissioners Office and our
          registration number is ZB155520.
        </p>
        <p>&nbsp;</p>
        <ol>
          <li>
            <strong>Data Collection</strong>
            <ul>
              <li>
                The majority of the information that we hold about you is provided to us by you when you seek to use our services. We will
                endeavour to make it clear why we need the information and how we will use it
              </li>
            </ul>
          </li>
        </ol>
        <p><u> </u></p>
        <ol start="2">
          <li>
            <strong>Data Controller</strong>
            <ul>
              <li>
                WasteTrade Holdings Limited is the controller and responsible for your personal or company data (hereon in referred to as
                ‘we’, ‘us’ or ‘our’ in this privacy policy.
              </li>
              <li>
                We have appointed a Data Protection Officer who is responsible for overseeing questions in relation to this privacy policy.
                If you have any questions including any requests to exercise your legal rights, please contact the Data Protection Officer:
              </li>
            </ul>
          </li>
        </ol>
        <p>Name: Jason Loughlin</p>
        <p>E-mail: info&#64;wastetrade.com</p>
        <p>Postal Address: KMC Legal &amp; Finance, Dunston Farm, Dunston Stafford ST18 9AB</p>
        <p>&nbsp;</p>
        <ol start="3">
          <li>
            <strong>Data Subject</strong>
            <ul>
              <li>You and the company that you represent as a user of the platform</li>
            </ul>
          </li>
        </ol>
        <p>
          <strong><u> </u></strong>
        </p>
        <ol start="4">
          <li>
            <strong>Lawful Basis for processing your information</strong>
            <ul>
              <li>
                The General Data Protection Regulation (GDPR) requires all organisations that process personal data to have a Lawful Basis
                for doing so. We process data on the following legal bases:
              </li>
            </ul>
          </li>
        </ol>
        <ul>
          <li>Consent of the Data Subject</li>
          <li>Performance of a contract with the Data Subject or to take steps to enter into a contract</li>
          <li>Compliance with a legal obligation</li>
          <li>To protect the vital interests of a Data Subject or another person</li>
          <li>
            Performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.
          </li>
          <li>
            The legitimate interests of ourselves, or a third party, except where such interests are overridden by the interests, rights or
            freedoms of the Data Subject.
          </li>
          <li>
            Where we rely on ‘legitimate interests’ as our legal basis, our legitimate interest includes running an efficient, legal and
            profitable business.
          </li>
        </ul>
        <ol start="5">
          <li><strong>How we use your information to:</strong></li>
        </ol>
        <ul>
          <li>Provide goods, services, deliveries, quotations, and information, for example, catalogues and newsletters;</li>
          <li>Process or support payments for goods and services;</li>
          <li>Conduct data analysis, testing, and research, and to monitor and analyse usage and activity trends;</li>
          <li>Maintain the safety, security and integrity of our services;</li>
          <li>
            Direct your enquiries to the appropriate customer support staff;<br />
            Investigate and address your concerns;
          </li>
          <li>Communicate with you about products, services, promotions, studies, surveys, news, updates and events;</li>
          <li>
            Process promotions/competitions, including prizes, and send you information about our services and those of our business
            partners;
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            Investigate or address legal proceedings relating to your use of our services/products, or as otherwise allowed by applicable
            law;
          </li>
        </ul>
        <p>&nbsp;</p>
        <ol start="6">
          <li>
            <strong>Third-Party Links</strong>
            <ul>
              <li>
                The WasteTrade platform may include links to third-party websites, plug-ins and applications. Clicking on those links or
                enabling those connections may allow third parties to collect or share data about you. We do not control these third-party
                websites and are not responsible for their privacy statements. When you leave our website/platform, we encourage you to read
                the privacy policy of every website you visit.
              </li>
            </ul>
          </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="7">
          <li>
            <strong>Common Data Types collected</strong>
            <ul>
              <li>We collect the following types of data:</li>
            </ul>
          </li>
        </ol>
        <ul>
          <li>Identity Data – Including but not limited to name, username, VAT number, Company Registration number etc…</li>
          <li>Contact Data – Including address, email address and telephone numbers</li>
          <li>Financial Data – This may include bank account details and payment card details where appropriate</li>
          <li>Transaction Data – Includes details about transactions between you and other Users.</li>
          <li>
            Technical Data – Including IP address, login data, browser type and version, time zone setting and location, browser plug-in
            types and versions, operating system and platform and other technology on the devices you use to access the website.
          </li>
          <li>Profile Data – Username and Password, purchased or orders made by you and preferences</li>
          <li>Usage Data – includes information about how you use our website, products and services</li>
          <li>
            Marketing and Communications Data – Includes your preferences in receiving marketing from us and our third parties and your
            communication preferences.
          </li>
          <li>Waste Carrier Licence, Environmental Permits, Waste Exceptions</li>
        </ul>
        <p>This is not an exhaustive list.</p>
        <p>&nbsp;</p>
        <ol start="8">
          <li>
            <strong>How we collect your Data</strong>
            <ul>
              <li>
                <strong>Direct Interactions</strong> – You may give us your Identity, Contact and Financial Data by filling in forms or by
                corresponding with us. This includes personal data you provide when creating an account on our platform, providing feedback
                or answering surveys.
              </li>
              <li>
                <strong>Automated technologies or interactions</strong> – As you interact with our website, we will automatically collect
                Technical Data about your equipment, browsing actions and patterns. We collect this data by using cookies, server logs and
                similar technologies.
              </li>
              <li>
                <strong>Third Parties or publicly available sources </strong>– We will receive data about you from the various third parties
                and public sources
              </li>
            </ul>
          </li>
        </ol>
        <p><strong> </strong></p>
        <ol start="9">
          <li><strong>We may share your personal data with:</strong></li>
        </ol>
        <ul>
          <li>Delivery partners,</li>
          <li>Our business partners;</li>
          <li>Our subsidiaries;</li>
          <li>Industry bodies;</li>
          <li>Regulatory bodies;</li>
          <li>The general public when you contribute to a public forum;</li>
          <li>Our legal advisors in the event of a dispute or other legal matter;</li>
          <li>Law enforcement officials, government authorities, or other third</li>
          <li>parties to meet our legal obligations;</li>
          <li>
            In connection with, or during negotiations of, any merger, sale of company assets, consolidation or restructuring, financing,
            refinancing, or acquisition of some or all of our business by another company; and
          </li>
          <li>Any other party where we ask you and you consent to the sharing.</li>
        </ul>
        <ol start="10">
          <li>
            <strong>Transfers to third countries and international organisations</strong>
            <ul>
              <li>We may transfer data to third countries or international organisations.</li>
              <li>
                If we do transfer personal data to third countries or international organisations because we have third-parties overseas, we
                have satisfied ourselves that such transferred data is fully protected and safeguarded as required by the General Data
                Protection Regulation.
              </li>
            </ul>
          </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="11">
          <li>
            <strong>How we retain your data</strong>
            <ul>
              <li>
                Whilst you remain a user of WasteTrade, we hold your data unless you ask us to delete it. Should you require us to delete
                your data, you will no longer be able to use the WasteTrade platform as a User.
              </li>
              <li>
                Following account deletion, we may retain your data for the purposes of marketing unless you contact us requesting for us to
                permanently delete all data.
              </li>
              <li>We will delete or anonymise your information at your request unless:</li>
            </ul>
          </li>
        </ol>
        <ul>
          <li>There is an unresolved issue, such as a claim or dispute;</li>
          <li>We are legally required to; or</li>
          <li>
            There are overriding legitimate business interests, including but not limited to fraud prevention and protecting customers'
            safety and security.
          </li>
        </ul>
        <ol start="12">
          <li>
            <strong>Your Legal Rights</strong>
            <ul>
              <li>Under data protection law, you have rights including:</li>
            </ul>
          </li>
        </ol>
        <ul>
          <li><strong>Your right of access</strong>– You have the right to ask us for copies of your personal information.</li>
          <li>
            <strong>Your right to rectification</strong>– You have the right to ask us to rectify information you think is inaccurate. You
            also have the right to ask us to complete information you think is incomplete.
          </li>
          <li>
            <strong>Your right to erasure</strong>– You have the right to ask us to erase your personal information in certain
            circumstances.
          </li>
          <li>
            <strong>Your right to restriction of processing</strong>– You have the right to ask us to restrict the processing of your
            information in certain circumstances.
          </li>
          <li>
            <strong>Your right to object to processing</strong>– You have the right to object to the processing of your personal data in
            certain circumstances.
          </li>
          <li>
            <strong>Your right to data portability</strong>– You have the right to ask that we transfer the information you gave us to
            another organisation, or to you, in certain circumstances.
          </li>
          <li>
            You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.
          </li>
          <li>
            Under the DPA 2018, you may ask us to provide you with the details of any personal information that we hold about you. Such
            request should be sent to our Data Protection Officer in our Compliance Department whose details are below. We will not charge
            any fee and we will respond within one calendar month. If we refuse a request, we will explain why and set out your rights to
            complain.
          </li>
          <li>
            If you believe that any information we hold about you is incorrect or incomplete or you have any comments, queries or requests
            relating to the use of your personal information, please contact our Data Protection officer. Any information which is found to
            be incorrect will be promptly corrected.
          </li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            If you want more information about your rights under the GDPR please see the Guidance from the Information Commissioners Office
            on
            <a
              href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/"
              >Individual's rights under the GDPR</a
            >. If you want to exercise any of these rights, please:
          </li>
        </ul>
        <ul>
          <li>Email, call or write to us. Our Data Protection Manager is Jason Loughlin</li>
          <li>
            Provide other information so that we can identify you (a passport, driving licence or utility bill). We may need to contact you
            to request further information to verify your identity;
          </li>
          <li>Let us have proof of your identity and address;</li>
          <li>
            State the right or rights that you wish to exercise
            <ul>
              <li>We will respond to you within one month from when we receive your request.</li>
            </ul>
          </li>
        </ul>
        <p>&nbsp;</p>
        <ol start="13">
          <li>
            <strong>Accessing and Correcting Your Information</strong>
            <ul>
              <li>
                You may request access to, correction of, or a copy of your information by contacting us at info&#64;www.wastetrade.com
              </li>
            </ul>
          </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="14">
          <li>
            <strong>Marketing Opt-Outs</strong>
            <ul>
              <li>
                You may opt out of receiving marketing emails and other messages from our organisation by following the instructions in
                those messages. You can unsubscribe at any time by selecting the ‘unsubscribe’ link that appears in every email.
              </li>
            </ul>
          </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="15">
          <li>
            <strong>Cookies</strong>
            <ul>
              <li>
                Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good
                experience when you browse our website and also allows us to improve our site.
              </li>
              <li>
                Cookies are small text files that are stored on your browser or device by websites, apps, online media, and advertisements.
                We use cookies to:
              </li>
            </ul>
          </li>
        </ol>
        <ul>
          <li>Validate users;</li>
          <li>Remember user preferences and settings;</li>
          <li>Determine frequency of accessing our content;</li>
          <li>Measure the effectiveness of advertising campaigns; and</li>
          <li>
            Analyse site visits and trends.
            <ul>
              <li>
                Cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do
                not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to
                share with us. You can choose to accept or decline cookies. Delivering them may prevent you from taking full advantage of
                the website. You can find out more about cookies and how to control them from your browser by visiting
                <a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a>
              </li>
            </ul>
          </li>
        </ul>
        <p>&nbsp;</p>
        <ol start="16">
          <li>
            <strong>Security</strong>
            <ul>
              <li>
                We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have
                put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect and
                process.
              </li>
            </ul>
          </li>
        </ol>
        <p><strong> </strong></p>
        <ol start="17">
          <li>
            <strong>Changes</strong>
            <ul>
              <li>
                We will post any material changes that we may make to our Privacy Policy in the future on this page and, where appropriate,
                we will notify you of the change by email.
              </li>
            </ul>
          </li>
        </ol>
        <p>
          <strong><u>How to complain</u></strong>
        </p>
        <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
        <p>The ICO’s address:</p>
        <p>Information Commissioner’s Office</p>
        <p>Wycliffe House</p>
        <p>Water Lane</p>
        <p>Wilmslow</p>
        <p>Cheshire</p>
        <p>SK9 5AF</p>
        <p>Helpline number: 0303 123 1113</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</app-un-auth-layout>
