.item-wrapper {
  padding: 32px 42px;
}


.note-btn {
  width     : 100%;
  margin-top: 12px;
  border    : 2px solid black;
}

.assign-select {
  width: 120px;
}

:host ::ng-deep .assign-select .mat-mdc-form-field-flex {
  min-height: 30px !important;
}

:host ::ng-deep .assign-select .mat-mdc-form-field-infix {
  min-height: 30px !important;
  padding   : 4px 0 !important;
}

:host ::ng-deep .assign-select .mat-mdc-select-trigger {
  height     : 26px !important;
  display    : flex;
  align-items: center;
  font-weight: bold;
}

.green {
  color: #03985C;
}

.orange {
  color: #F9A52B;
}

.red {
  color: #d32f2f;
}
