<app-un-auth-layout>
  <div class="border border-black border-radius h-100 overflow-y-auto page-container bg-white">
    <div class="fl-rich-text">
      <p style="text-align: center" class="fs-3 fs-md-6 title">
        <strong>Terms &amp; Conditions</strong>
      </p>
      <p><strong>DEFINITIONS:</strong></p>
      <p>
        <strong>‘User’ – </strong>Any individual authorised to use the WasteTrade site on behalf of the company by whom they are employed.
        This individual must have authority to bind the company. May otherwise be referred to as the ‘Administrator’.
      </p>
      <p>
        <strong>‘WasteTrade’ – </strong>WasteTrade Holdings Limited, company number 13314586, provider of the WasteTrade online marketplace.
      </p>
      <p>
        <strong>‘Buyer’ – </strong>The authorised User who is registered on the Site for the purposes of purchasing material or otherwise
        the company who they are employed by.
      </p>
      <p>
        <strong>‘Seller’ - </strong>The authorised User who is registered on the Site for the purposes of selling material or otherwise the
        company who they are employed by.
      </p>
      <p>
        <strong>‘Broker’ –</strong> An individual or company who uses the site to facilitate transactions between Sellers and purchasers of
        waste, but does not at any point own the material.
      </p>
      <p>
        <strong>‘The Platform’ – </strong>The platform supplied by WasteTrade Holdings Limited facilitating the sale and purchase of
        recyclable and recycled materials.
      </p>
      <p><strong>‘User Number’ – </strong>The individual number assigned to each User following completion of the registration process.</p>
      <p><strong> ‘Load’ – </strong>The individual portion of material subject to sale to each individual buyer.</p>
      <p>
        <strong> ‘Customer Dashboard’</strong> – The collection of data available to each user, including their listings, offers, messages,
        recently viewed, purchase history, ‘may also like’ and material that will be available soon.
      </p>
      <p>&nbsp;</p>
      <p><strong>A) USE OF THE WASTETRADE MARKETPLACE</strong></p>
      <ol>
        <li>
          <strong>1. ABOUT WASTETRADE</strong>
          <ol>
            <li>
              1.1 WasteTrade is a marketplace platform for plastics, including but not limited to: Acrylic, ABS, EPS, HDPE, LDPE, PC, PET,
              Polyethylene, PP, PS, PVC, and other recyclable and recycled materials such as metals, fibres and rubber. WasteTrade allows
              users to list, sell, offer and buy the afore-named materials on a 24/7 basis.
            </li>
            <li>
              1.2 At no point does WasteTrade have ownership of any of the materials listed. WasteTrade’s involvement is limited to being a
              facilitator for the transactions of recyclable and recycled materials between Buyers and Sellers on the Platform.
            </li>
            <li>
              1.3 Whilst WasteTrade encourages all Sellers and Buyers to provide entirely accurate information, WasteTrade has no control
              over, and does not guarantee the existence, quality, safety or legality of, items advertised; the truth or accuracy of users'
              content or listings, the ability of Sellers to sell items, the ability of Buyers to pay for items or that a buyer or seller
              will actually complete a transaction or return a material where requested.
            </li>
          </ol>
        </li>
        <li>
          <strong>2. REGISTERING INTEREST </strong>
          <ol>
            <li>
              2.1 If the User wishes to become either a Buyer or a Seller on the platform, they will be required to provide the information
              marked as a required field; however, it is desirable that the User provides as much information as possible to assist in the
              registration process
            </li>
            <li>2.2 The User is directed to the Privacy Policy to learn more about the protection of their data.</li>
            <li>
              2.3 During the registration process, you must provide a valid e-mail address which is not offensive or misleading, does not
              offend common decency and does not infringe upon the copyright, trademark or other rights of third parties.
            </li>
            <li>
              2.4 By registering the company that they represent, the User warrants that they have the authority to act for that company and
              enter the company into situations whereby the company are contractually bound. WasteTrade will bear no liability for any loss
              or damage where a User does not have authority to act on behalf of the company that they represent.
            </li>
            <li>
              2.5 Once Users have entered all required information in order to register, WasteTrade will validate the information provided
              in order to register the account and provide a User ID. WasteTrade will endeavour to complete the validation process in no
              more than 24 hours however this is not guaranteed. Any loss caused by delays to the validation process will not be at the
              fault of WasteTrade and under no circumstances will WasteTrade be liable for the same.
            </li>
            <li>
              2.6 By registering to use the Platform, the User is agreeing to these Terms and Conditions and WasteTrade’s Privacy Policy.
            </li>
          </ol>
        </li>
        <li>
          <strong>3. USING WASTETRADE</strong>
          <ol>
            <li>
              3.1 Once the User’s account has been validated, they will then be able to list items or bid on Seller’s listings. Under no
              circumstances should User accounts be transferred to another party and the User account may only be used by the individual
              that registered the account and has express authority to contractually bind the company that they work for.
            </li>
            <li>
              3.2 We reserve the right to temporarily or permanently disqualify and/or disable any User account when a User has breached (or
              intend to breach) these terms and conditions.
            </li>
            <li>
              3.3 A User may also be disqualified or their account may be disabled temporarily or permanently if such action will protect
              the rights of other users of our site.
            </li>
            <li>
              3.4 A non-exhaustive list of circumstances which may lead to an account being deactivated or disabled is as follows:
              <ol style="list-style-type: lower-alpha">
                <li>a. A User provides any false or misleading information.</li>
                <li>b. A User has previously not paid for products won on our site.</li>
                <li>c. Payment was previously blocked or refused for any reason whatsoever.</li>
                <li>d. A User lists hazardous or non-recyclable material</li>
                <li>
                  e. A User and other bidders; agree, discuss or otherwise co-ordinate offers in an attempt to increase the overall
                  possibility of winning above what would otherwise be the case if you acted separately.
                </li>
                <li>
                  f. A fraudulent payment method is used, or the bank or other credit institution reverses the credit or debit card
                  transaction, for a WasteTrade Fee or any other payment.
                </li>
                <li>
                  g. A User breaches or circumvents any laws or third-party rights or otherwise infringes a third parties copyright or
                  trademark.
                </li>
                <li>h. A User manipulates the price of any item or interferes with any other User's listings;</li>
                <li>i. A User posts false, inaccurate, misleading, defamatory, or libellous content;</li>
                <li>j. A User transfers their WasteTrade account and User ID to another party;</li>
                <li>
                  k. A User distributes viruses or any other technologies that may harm WasteTrade, or the interests or property of
                  WasteTrade users;
                </li>
                <li>l. A User uses any robot, spider, scraper or other automated means to access our Services for any purpose;</li>
                <li>
                  m. A User interferes with the working of WasteTrade Services, or imposes an unreasonable or disproportionately large load
                  on our infrastructure;
                </li>
                <li>
                  n..A User infringes the copyright, trademark, patent, moral, database or other intellectual property rights that belong to
                  or are licensed to WasteTrade. Some, but not all, actions that may be infringement are reproducing, performing,
                  displaying, distributing, copying, reverse engineering, decompiling, disassembling, or preparing derivative works from
                  content that belongs to WasteTrade or someone else;
                </li>
                <li>
                  o. A User infringes any Intellectual Property Rights that belong to third parties affected by the User’s use of the
                  Services or posts content that does not belongs to them;
                </li>
                <li>p. The User harvests or otherwise collects information about users without their consent;</li>
                <li>q. The User circumvents any technical measures that WasteTrade uses to provide the Services.</li>
              </ol>
            </li>
            <li>
              3.5 Whilst WasteTrade reserves the right to disqualify/cancel accounts, it is not the responsibility of WasteTrade to monitor
              misuse of the site, and WasteTrade will not be liable for loss to another User where they have not removed an account that has
              previously misused the site. The onus is instead on all Users to use the site responsibly and honestly at all times.
            </li>
            <li>
              3.6 WasteTrade allows the registration of third-party brokers using the Site in order to facilitate deals, however the Brokers
              are subject to the provisions at clause 5.
            </li>
            <li>
              3.7 Insofar as the User uses the Platform as a Supplier, the User is subject in particular to the following obligations:
              <ol>
                <li style="list-style-type: none">
                  <ol>
                    <li style="list-style-type: none">
                      <ol style="list-style-type: lower-alpha">
                        <li>a. The User must be authorised to offer the offered Products.</li>
                        <li>
                          b. The User must be able to transfer the legal ownership of the offered Products free of encumbrances of any kind.
                        </li>
                        <li>
                          c. The information on the Products offered which the User communicates on the Platform, must be complete and
                          correct and must not be misleading.
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              3.8 Additionally, we reserve the right to vary or terminate all or part of our Services and/or not provide all or part of our
              Services to anyone for any reason and/or period of time, at our discretion.
            </li>
            <li>
              3.9 We may cancel unconfirmed accounts or accounts that have been inactive for a long time or modify or discontinue our
              Services.
            </li>
            <li>
              3.10 By electing to register onto the site, the User agrees to the use of ‘bots’ in addition to the receipt of notifications
              regarding but not limited to new listings and promotions.
            </li>
          </ol>
        </li>
        <li>
          <strong>4. LISTING CONDITIONS </strong>
          <ol>
            <li>
              4.1 Sellers must upload photographs of the material that they are selling. These photographs should be of high resolution and
              the quality of the material must be clearly visible and an accurate representation of the material being sold.
            </li>
            <li>
              4.2 Photographs should specifically be of the material that is being sold and under no circumstances should a Seller upload
              photographs of a different load.
            </li>
            <li>4.3 A Seller should accurately describe the load that is being sold including the specific material, weight and price.</li>
            <li>
              4.4 A non-exhaustive list of prohibited listings is that which include:
              <ol style="list-style-type: lower-alpha">
                <li>a. Images, videos or text copied from websites or internet searches;</li>
                <li>b. Scans or text copied from catalogues or advertisements;</li>
                <li>c. Hazardous and/or non-recyclable and/or recyclable waste mixed with non-recyclable waste.</li>
                <li>d. Poor-quality videos or images that are blurry, undefined or distorted;</li>
                <li>e. Illegal or explicit content;</li>
                <li>f. Offensive content that promotes or glorifies hatred, violence or discrimination;</li>
                <li>g. Photographs of a load that is not the load being sold.</li>
              </ol>
            </li>
            <li>
              4.5 WasteTrade reserves the right to request Users for a weight bridge calibration certificate.
              <ol>
                <li>
                  4.5.1. Upon production of valid weight bridge calibration certificates by both parties, costs will be determined as
                  below:<br />
                  <table style="margin: auto; margin-top: 20px; margin-bottom: 20px">
                    <tbody>
                      <tr>
                        <td style="border: 1px solid #000; font-weight: normal; width: 30%">0-200 kgs</td>
                        <td style="border: 1px solid #000; font-weight: normal">Costs to be absorbed by both parties</td>
                      </tr>
                      <tr>
                        <td style="border: 1px solid #000; font-weight: normal">251-499 kgs</td>
                        <td style="border: 1px solid #000; font-weight: normal; padding-right: 10px">
                          Cost difference to be split between supplier and customer
                        </td>
                      </tr>
                      <tr>
                        <td style="border: 1px solid #000; font-weight: normal">500 kgs plus</td>
                        <td style="border: 1px solid #000; font-weight: normal">Parties to discuss distribution of costs</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  4.5.2. In the event that either party does not have a weight bridge calibration certificate, this party will be
                  responsible for covering any cost difference.
                </li>
              </ol>
            </li>
            <li>
              4.6 WasteTrade requires all Sellers to abide by the listing conditions of this section. Where a buyer suffers loss due to a
              failure of the Seller to abide by the Listing Conditions or accurately represent the load, WasteTrade will not be held liable
              and compensation for any loss should be sought directly from the Seller.
            </li>
          </ol>
        </li>
        <li>
          <strong>5. BROKERS</strong>
          <ol>
            <li>
              5.1 WasteTrade allows ‘Brokers’ in the waste industry to use the platform in order to source potential Buyers or Sellers of
              material, however, in order to ensure transparency, Brokers must additionally abide by the provisions of this clause.
            </li>
            <li>
              5.2 Upon registration to the WasteTrade platform, Brokers must identify themselves as Brokers provide the relevant documents
              on their profile, that being Waste carriers, brokers or dealers license, any environmental permits and excemptions.
            </li>
            <li>5.3 When listing material for sale, Brokers must upload the licenses of their sources and end-user licenses.</li>
            <li>
              5.4 Where a Broker secures a sale of material and/or wishes to utilise WasteTrade’s haulage facilitation service, they must
              provide all relevant licenses of the end purchaser and the source of the material.
            </li>
          </ol>
        </li>
        <li>
          <strong>6. BIDDING FOR LOADS</strong>
          <ol>
            <li>
              6.1 It is strictly the responsibility for the bidder to read the full item listing before making a bid or commitment to buy.
            </li>
            <li>
              6.2 Upon submission of a bid, supplementary documents provided for the purposes of compliance such as, but not limited to,
              licenses will be exchanges.
            </li>
            <li>
              6.3 The bidding User accepts that they are entering into a legally binding contract when they commit to buy an item, or if
              they have the winning bid (or the User’s bid is otherwise accepted).
            </li>
            <li>
              6.4 Where a User places a bid on an item that they do not intend to purchase, WasteTrade will bear no responsibility for any
              loss to either party where the contract is not fulfilled.
            </li>
            <li>
              6.5 You should only make an offer on material you intend or wish to purchase and have the funds to do so, never make an offer
              on material that is beyond your financial capability.
            </li>
            <li>
              6.6 Where either party does not wish to commit to the purchase, WasteTrade will at no stage be responsible for ensuring an
              effective resolve is found. Where WasteTrade is unable to assist in facilitating resolve any longer, WasteTrade reserves the
              right, with the parties consent, to provide the other party with the relevant contact details so that the parties can continue
              to communicate outside of the platform.
            </li>
          </ol>
        </li>
        <li>
          <strong>7. INTERNATIONAL USERS </strong>
          <ol>
            <li>
              7.1 Many of WasteTrade’s services are accessible internationally however all Users are accountable to these Terms &amp;
              Conditions which are governed by the laws of England &amp; Wales.
            </li>
            <li>
              7.2 Where a User sells a Load to an international Buyer or an international Buyer purchases a Load, it is the responsibility
              of the individual parties to ensure the goods are transported in line with the legislation and policies of the relevant
              countries.
            </li>
          </ol>
        </li>
        <li>
          <strong>8. COMMUNICATIONS BETWEEN BUYER AND SELLER </strong>
          <ol>
            <li>
              8.1 Initial communications between Buyer and Seller shall be via WasteTrade. The Buyer and Seller are required to communicate
              solely through the WasteTrade platform in respect of any transactions for a period of 12 months, which is subject to review at
              WasteTrades discretion. Should WasteTrade have reason to believe that parties are communicating outside of the platform within
              this period they shall have the right to prevent either or both parties from using the platform in future and prevent both
              parties from using the site to list items in future.
            </li>
          </ol>
        </li>
        <li>
          <strong>9. TERMINATION </strong>
          <ol>
            <li>
              9.1 In relation to the registration and use of a User profile on the Site, ‘Termination’ refers to WasteTrade’s decision to
              remove the User’s profile to the website. Occasions where this may occur are set out in section 3 and 4.
            </li>
            <li>
              9.2 Termination shall not affect or prejudice any right to damages or other remedy which WasteTrade may have in respect of the
              event giving rise to the termination or any other right to damages or other remedy which WasteTrade may have in respect of any
              breach of these terms which existed at or before the date of termination.
            </li>
          </ol>
        </li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>B) HAULAGE &amp; TRANSPORTATION OF GOODS</strong></p>
      <p><strong>DEFINITIONS:</strong></p>
      <p>
        ‘<strong>Buyer/Seller/User’</strong> – Any future reference to ‘Buyer/Seller/User’ refers to whichever party engaged WasteTrade to
        facilitate the transportation services, inclusive of Brokers.
      </p>
      <p>
        <strong>‘Hauliers/Service Providers’</strong> – Haulage companies who register with WasteTrade for the provision of transportation
        services.
      </p>
      <ol>
        <li>
          <strong>1. Introduction</strong>
          <ol>
            <li>
              1.1 These Terms and Conditions are designed for Haulage companies who wish to bid for the provision of haulage services on the
              WasteTrade platform of recyclable and recycled materials which have been the subject of transactions on the website, in
              addition to Buyers/Sellers on the platform who require haulage services to transport loads purchased/sold.
            </li>
            <li>
              1.2 By accessing or using the Platform, you agree to be bound by these Terms. If you do not agree with these Terms, please do
              not use the Platform.
            </li>
          </ol>
        </li>
        <li>
          <strong>2. Engagement </strong>
          <ol>
            <li>
              2.1 To use the Platform, Service Providers must register and create an account. In order to bid for the provision of haulage
              services, Hauliers will be required to register on the WasteTrade Platform as a Haulage Company and will be required to
              provide the following details in order to register and use the platform:
              <ul>
                <li>- Company Name</li>
                <li>- Company Number</li>
                <li>- Locations for haulage services</li>
                <li>- Key Company Contact (name, contact details and position in the business)</li>
                <li>- Makes and Models of lorries used and details of emissions</li>
                <li>- Provision of copies of all requisite licenses and documentation for haulage services.</li>
                <li>
                  In respect of how WasteTrade use this data, please refer to our Data Protection and Privacy Policy available on our
                  website.
                </li>
              </ul>
            </li>
            <li>2.2 You represent and warrant that all information provided during registration is accurate and current.</li>
            <li>
              2.3 As a Service Provider the Haulier will see the haulage platform only and will have the opportunity to bid via the haulage
              platform to provide transportation services.
            </li>
            <li>
              2.4 The ultimate decision as to which Haulier is engaged to provide their transportation services is that of WasteTrade.
            </li>
            <li>
              2.5 All bids and correspondence with parties should be via the WasteTrade platform only and no correspondence should be
              undertaken directly with companies buying or selling material on WasteTrade.
            </li>
            <li>
              2.6 WasteTrade may engage whichever Haulier they chose in order to deliver the materials to the Buyer’s site, therefore
              entering into a contract with that Haulier. Any introductory fees incurred will be payable by the Buyer/Seller requesting
              assistance with transport.
            </li>
          </ol>
        </li>
        <li>
          <strong>3. Limitation of Liability</strong>
          <ol>
            <li>
              3.1 WasteTrade is not responsible for the functionality, punctuality or compliance with legislation and secondary regulation
              of any of the Haulier using WasteTrade and WasteTrade shall not be liable for any losses to Sellers or Buyers which are a
              result of a failure of the Haulier selected.
            </li>
            <li>
              3.2 WasteTrade has no liability for any failure of the Buyer or Seller to make themselves available or adhere to any
              arrangements made for the transfer of the material. Whilst WasteTrade will attempt to ensure that arrangements for the
              collection and delivery are adhered to, it is accepted that they do not have ultimate control over the parties
              purchasing/selling goods and cannot therefore guarantee the effectiveness of every collection or delivery.
            </li>
            <li>3.3 The Platform is provided "as is", without any guarantees or warranties of any kind.</li>
            <li>3.4 We do not guarantee the accuracy, completeness, or usefulness of any information on the Platform.</li>
            <li>
              3.5 We are not liable for any loss or damage resulting from reliance on information found on the Platform or the performance
              or non-performance of Services.
            </li>
          </ol>
        </li>
        <li>
          <strong>4. Documentation Requirements &amp; Sub-Contracting </strong>
          <ol>
            <li>
              4.1 Any Haulier engaged by WasteTrade or registering to use the WasteTrade platform undertakes that they have the relevant
              Waste Carrier licence and a copy will be provided to WasteTrade to hold on file prior to undertaking any collections of goods
              on behalf of the company. The Haulier must provide WasteTrade with translated licenses where they are based outside of the UK.
            </li>
            <li>
              4.2 Any Haulier engaged by WasteTrade undertakes that they have appropriate cargo insurance which is effective at the time
              that the transportation is to take place.
            </li>
            <li>
              4.3 Any Haulier engaged will comply with providing any documentation regarding the transportation process required for
              compliance under the current legislation and regulations in the relevant countries.
            </li>
            <li>
              4.4 Any Haulier engaged may subcontract or outsource any transportation. However, the Haulier has a responsibility to ensure
              that any sub-contracting party they engage complies with all statutory and regulatory requirements for the transportation of
              the goods, including holding the required carrier licenses. WasteTrade will not be responsible for any 3<sup>rd</sup> party
              charges incurred when haulage is subcontracted.
            </li>
            <li>
              4.5 The Haulier or any party they engage must comply with all export regulations and requirements and be able to undertake the
              transportation to the Buyer.
            </li>
          </ol>
        </li>
        <li>
          <strong>5. Collection of Goods</strong>
          <ol>
            <li>
              5.1 Once the quotation provided for the facilitation of transport has been accepted, the times for collection of the materials
              will be shown on the Customer Dashboard. There may be variations between the final fees due and the initial quotation due to
              logistical factors and other administrative charges.
            </li>
            <li>
              5.2 As details of the collection are specified and refined, such details will be shown on the Customer Dashboard. The User
              should note that details regarding the transport of materials are subject to change as discussions are undertaken with the
              selected Haulier. It is therefore the responsibility of the User to ensure they are up to date with such detail by continually
              checking the Customer Dashboard.
            </li>
            <li>
              5.3 Where a User fails to ensure they are up to date with the latest details for the collection of the materials and misses
              the collection slot, WasteTrade will not be liable for transportation fees sought by the haulier and may impose an
              administrative charge of £100.00.
            </li>
            <li>
              5.4 WasteTrade will not pay any haulier cost where there is no effective collection of Goods from the Seller at the fault of
              the haulier.
            </li>
            <li>
              5.5 Where there is no effective collection at the fault of the Seller, the Seller will be responsible for all associated costs
              and administrative fees of £150
            </li>
            <li>
              5.6 Any costs for delays during the loading process will be passed on from WasteTrade to the Seller and the following fees may
              be imposed:
            </li>
          </ol>
        </li>
      </ol>
      <table style="margin: auto; margin-top: 40px; margin-bottom: 40px">
        <tbody>
          <tr style="background: #03985c">
            <td><strong> Charge</strong></td>
            <td><strong> Fee</strong></td>
          </tr>
          <tr>
            <td style="background: #e2efd9; font-weight: normal">Charges per hour for delays in the provision of paperwork at 5.7;</td>
            <td style="font-weight: normal">£35.00</td>
          </tr>
          <tr>
            <td style="background: #e2efd9; font-weight: normal">Charges per hour for delays in loading after the 2hour allowance.</td>
            <td style="font-weight: normal">£85.00</td>
          </tr>
          <tr>
            <td style="background: #e2efd9; font-weight: normal">
              Wasted Journey Fee - Failure to load truck on allocated day after haulier arrives on site
            </td>
            <td style="font-weight: normal">£150</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <ol>
        <li style="list-style-type: none">
          <ol>
            <li>
              5.7 The responsibility for the safe loading of the goods in line with current regulations and legislation falls upon the
              Haulier.
            </li>
            <li>5.8 The Haulier must ensure all relevant paperwork for the transportation is present.</li>
            <li>
              5.9 A copy of the packing list and annex VII will be provided upon departure from the collection location by the site supplier
              office.
            </li>
            <li>
              5.10 The Haulier must ensure the confidential and safe storage of any compliance paperwork during the transportation process.
            </li>
            <li>5.11 The Haulier must ensure that they abide by all site safety rules.</li>
            <li>
              5.12 Where the Haulier does not show up on an assigned collection day, or otherwise fails to perform any of their obligations,
              WasteTrade will not be liable for any loss to the Buyer or Seller and the haulier may be liable for a £150.00 administrative
              fine.
            </li>
          </ol>
        </li>
      </ol>
      <ol>
        <li>
          <strong>6. Transportation</strong>
          <ol>
            <li>6.1 The responsibility for the safe transport of the Goods upon collection is with the transport provider.</li>
            <li>6.2 The haulier should provide updates on the transportation and notify WasteTrade of any delays over 3 hours.</li>
            <li>
              6.3 Upon any issues of compliance or regulatory matters regarding the transport or exportation of the goods, WasteTrade should
              be notified immediately, and the Haulier must maintain an accurate record and evidence where possible, including retaining all
              relevant paperwork.
            </li>
            <li>
              6.4 WasteTrade shall not be liable for any demurrage costs and such costs must be evidenced and reported to WasteTrade with
              photographic evidence, including a copy/photograph of the weighbridge ticket, as the costs of the same will be passed onto the
              Buyer/Seller.
            </li>
            <li>
              6.5 The Haulier is responsible for management of the load including safe transit, if as a result of the poor management of
              these there are additional costs to WasteTrade, these will be the responsibility of the transport provider.
            </li>
          </ol>
        </li>
        <li>
          <strong>7. Delivery</strong>
          <ol>
            <li>
              7.1 A Buyer of material having material delivered to their site must ensure that access to the site is available 1 hour prior
              to and 1 hour post the specified delivery time to allow for a variation in road conditions of the Haulier.
            </li>
            <li>
              7.2 If upon delivery, the Buyer wishes to raise an issue with the material, they must contact the Seller via the WasteTrade
              platform.
            </li>
            <li>7.3 The Haulier is responsible for unloading during the allocated delivery time upon arrival at the end customer.</li>
            <li>
              7.4 Where the Haulier cannot enter the Buyer’s site due to a fault of the Buyer, they will be charged for any further fees
              imposed by the Haulier in addition to an administrative fee of £85.00 per hour.
            </li>
            <li>
              7.5 If an unloading slot is missed at the fault of the transport provider, the additional costs incurred for the return of the
              material to the Seller will be absorbed by the Buyer in addition to an administrative charge of £150.00.
            </li>
            <li>
              7.6 Proof of delivery to be provided to by the haulier to Wastetrade is to include:
              <ol style="list-style-type: lower-alpha">
                <li>a. Stamped CMR;</li>
                <li>b. Stamped Annex Vii;</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>8. Misuse of WasteTrade</strong>
          <ol>
            <li>
              8.1 Hauliers will undertake as best as possible to adhere to any arrangements made between themselves and other users of the
              platform and understand that, whilst WasteTrade is not liable for any failure on the part of the Haulier, poor service may be
              a reflection on Wastetrade.
            </li>
            <li>
              8.2 WasteTrade reserve the right to claim damages on an indemnity basis for any lost caused to them by a failure of a Haulier
              to perform pre-agreed arrangements.
            </li>
          </ol>
        </li>
        <li>
          <strong>9. Fees</strong>
          <ol>
            <li>
              9.1 There is no fixed cost for each individual transaction and it is at the discretion of WasteTrade how much is charged
              dependant on varying administrative and other costs.
            </li>
          </ol>
        </li>
        <li>
          <strong>10. Termination </strong>
          <ol>
            <li>
              10.1 WasteTrade may at its sole discretion elect to terminate the Contract at any time (without prejudice to accrued rights)
              by immediate written notice, if the Haulier is in breach of any obligation under the Contract or any other contract with
              WasteTrade and fails to remedy the breach within a reasonable time of written notice requiring it to do so.
            </li>
            <li>
              10.2 WasteTrade may by giving written notice, terminate the Contract if the Haulier allows itself to suffer distress or
              execution or is the subject of a bankruptcy order (or in Scotland the haulier is sequestrated or in Northern Ireland the
              Customer is adjudicated bankrupt) or becomes insolvent or goes into liquidation, or enters into an arrangement or composition
              with creditors or if a receiver is appointed over any part of its business or assets.
            </li>
            <li>
              10.3 The termination of the Contract howsoever arising is without prejudice to the rights, duties and liability of either
              party accrued prior to termination.
            </li>
            <li>
              10.4 The conditions which expressly or impliedly have effect after termination will continue to be in force notwithstanding
              termination.
            </li>
          </ol>
        </li>
        <li>
          <strong>11. Effects of Termination</strong>
          <ol>
            <li>
              11.1 Upon the termination of the Agreement for any reason:
              <ol style="list-style-type: lower-alpha">
                <li>
                  a. any sum owing by either party to the other under any of the provisions of the Agreement shall become immediately due
                  and payable within 30 days;
                </li>
                <li>
                  b. all Clauses which, either expressly or by their nature, relate to the period after the expiry or termination of the
                  Agreement shall remain in full force and effect;
                </li>
              </ol>
            </li>
            <li>
              11.2 Termination shall not affect or prejudice any right to damages or other remedy which the terminating Party may have in
              respect of the event giving rise to the termination or any other right to damages or other remedy which any Party may have in
              respect of any breach of the Agreement which existed at or before the date of termination.
            </li>
            <li>
              11.3 Each Party shall immediately cease to use, either directly or indirectly, any Confidential Information, and shall
              immediately return to the other party any documents in its possession or control which contain or record any Confidential
              Information other than that which:
              <ol style="list-style-type: lower-alpha">
                <li>a. is at the date of disclosure or becomes at any time after that date publicly known;</li>
                <li>
                  b. can be shown by the Haulier to WasteTrade satisfaction to have been known by the Haulier before disclosure by
                  WasteTrade;
                </li>
                <li>
                  c. is or becomes available to the Haulier otherwise than from WasteTrade and free of any restrictions as to its use or
                  disclosure;
                </li>
                <li>d. is required to be disclosed by law.</li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>C) GENERAL PROVISIONS </strong></p>
      <p>The following General Provisions are applicable to the entirety of these Terms and Conditions.</p>
      <ol>
        <li>
          <strong>1. Liability and Indemnity</strong>
          <ol>
            <li>
              <span style="font-weight: 400"
                >1.1 WasteTrade liability under these Terms and Conditions, and in breach of statutory duty, and in tort or
                misrepresentation or otherwise, shall be limited as set out in this section.</span
              >
            </li>
            <li aria-level="2">
              <span style="font-weight: 400"
                >1.2 WasteTrade are not liable (whether caused by our employees, agents or otherwise) in connection with our provision of
                the Site or transportation of materials or the performance of any of our other obligations under these Terms and
                Conditions;</span
              >
              <ol style="list-style-type: lower-alpha">
                <li>a. any indirect, special, or consequential loss, damage, costs, or expenses; or</li>
                <li>
                  b. any loss of profits; loss of anticipated profits; loss of business; loss of data; loss of reputation or goodwill;
                  business interruption; or other third-party claims; or
                </li>
                <li>
                  c. any failure to perform any of our obligations if such delay or failure is due to any cause beyond the WasteTrade’s
                  reasonable control
                </li>
              </ol>
            </li>
            <li>
              3. The haulier must indemnify the Buyer/Seller against all damages, costs, claims and expenses suffered arising from any loss
              or damage to any equipment, goods or property (including that belonging to third parties) caused by the Transport provider,
              agents or employees of the supplier.
            </li>
            <li>
              4. Nothing in these Terms and Conditions shall limit or exclude our liability for death or personal injury caused by our
              negligence, or for any fraudulent misrepresentation, or for any other matters for which it would be unlawful to exclude or
              limit liability.
            </li>
          </ol>
        </li>
        <li>
          <strong>2. Data Protection and Confidentiality</strong>
          <ol>
            <li>
              2.1 For more information about how we obtain and use your data, please refer to our Privacy Policy which can be freely
              accessed on the WasteTrade platform.
            </li>
          </ol>
        </li>
        <li>
          <strong>3. Force Majeure</strong>
          <ol>
            <li>
              3.1 If any sale through the WasteTrade site or arrangement for transportation is cancelled by WasteTrade on the basis of
              circumstances beyond the reasonable control of WasteTrade including, but not limited to, any act of God, exceptional severe
              weather, failure or shortage of power supplies, flood, drought, tempest, lightening or fire, protests, strike, lock-out, trade
              dispute or labour disturbance, war or military operations, explosion, an act of terrorism, national or local emergency,
              anything done by government or other competent authority or industrial disputes of any kind (including those involving the
              suppliers employees or subcontractors), delay or failure by third parties (each a ‘Force Majeure Event’), WasteTrade will not
              be liable for any loss or damage which may be suffered by any party.
            </li>
            <li>3.2 Where the Buyer/Seller cancels, any haulier charges will be passed to the Buyer/Seller for payment.</li>
          </ol>
        </li>
        <li>
          <strong>4. Right to bring a claim</strong>
          <ol>
            <li>
              4.1 A User has the right to bring a claim relating to the product or service within 3 days from the date of the issue giving
              rise to the claim occurred. Any claims brought after this period will be considered time-barred and the User agrees to waive
              any right to bring these claims.
            </li>
            <li>
              4.2 In order to bring a claim, a User must submit written notice which details the nature of the claim, facts and supporting
              documentation to (email) within the 3-day period.
            </li>
            <li>4.3 WasteTrade will not be liable for any claims brought received after the 3-day period.</li>
          </ol>
        </li>
        <li>
          <strong>5. Deal Summary </strong>
          <ol>
            <li>
              5.1 After a deal is accepted and signed by Users, they will receive a summary which will includes commercials, logistics and
              essential information for each deal
            </li>
            <li>
              5.2 Should any of the information on the Deal Summary be incorrect, Users should contact WasteTrade as soon as reasonably
              possible to inform them of the error.
            </li>
            <li>
              5.3 If WasteTrade does not receive any notice of any incorrect information on the Deal Summary, it will be deemed as accepted
              by the User and the deal will go ahead.
            </li>
          </ol>
        </li>
        <li>
          <strong>6. Communications</strong>
          <ol>
            <li>
              6.1 All notices under these Terms and Conditions must be in writing and signed by, or on behalf of, the party giving notice
              (or a duly authorised officer of that party).
            </li>
            <li>
              6.2 Notices shall be deemed to have been duly given:
              <ol style="list-style-type: lower-alpha">
                <li>
                  a. when delivered, if delivered by courier or other messenger (including registered mail) during the normal business hours
                  of the recipient;
                </li>
                <li>b. when sent, if transmitted by fax or email and a successful transmission report or return receipt is generated;</li>
                <li>c. on the fifth business day following mailing, if mailed by national ordinary mail; or</li>
                <li>d. on the tenth business day following mailing, if mailed by airmail.</li>
              </ol>
            </li>
            <li>
              6.3 All notices under these Terms and Conditions must be addressed to the most recent address or email address notified to the
              other party.
            </li>
          </ol>
        </li>
        <li>
          <strong>7. No waiver</strong>
          <ol>
            <li>
              7.1 No delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other,
              right or remedy nor stop further exercise of any other right, or remedy.
            </li>
          </ol>
        </li>
        <li>
          <strong>8. Severance</strong>
          <ol>
            <li>
              8.1 If one or more of these Terms and Conditions is deemed to be illegal, invalid or unenforceable, all other clauses within
              the Terms and Conditions will remain fully enforceable.
            </li>
          </ol>
        </li>
        <li>
          <strong>9. Law and Jurisdiction</strong>
          <ol>
            <li>
              9.1 This Agreement shall be governed by and interpreted according to the law of England and Wales and all disputes arising
              under the Agreement (including non-contractual disputes or claims) shall be subject to the exclusive jurisdiction of the
              English and Welsh courts.
            </li>
          </ol>
        </li>
        <li>
          <strong>10. Third Party Rights</strong>
          <ol>
            <li>
              10.1 A person who is not party to the Contract under these Terms and Conditions has no rights under the Contracts (Right of
              Third Parties) Act 1999 to enforce any term of the Contract but this does not affect any right or remedy of a third party
              which exists or is available apart from under that Act.
            </li>
          </ol>
        </li>
      </ol>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p style="text-align: center">
        <strong>Anti-Slavery &amp; Human Trafficking</strong>
      </p>
      <ol>
        <li>
          1. WasteTrade are proud to be committed to combatting modern slavery and human trafficking and remain vigilant towards materials
          supplied outside of the UK &amp; EU and supply chains having an increased risk of slavery/human trafficking involvement.
        </li>
        <li>
          2. WasteTrade will endeavour to monitor the Users of the platform for any signs that Users may be involved in modern slavery or
          human trafficking, however, in order to ensure utmost vigilance, WasteTrade requires the assistance of its Users.
        </li>
        <li>
          3. If any Users of WasteTrade have concerns that other Users may be involved in the practice of modern slavery or human
          trafficking, it is requested that the User either:
          <ol style="list-style-type: lower-alpha">
            <li>a) Inform WasteTrade immediately so that they can take action</li>
            <li>b) Call the Modern Slavery Helpline on 08000121700 or fill out an online form</li>
            <li>
              c) Contact the Gangmasters and Labour Abuse Authority on 08004320804 or
              <a href="mailto:intelligence@gla.gov.uk">intelligence&#64;gla.gov.uk</a>
            </li>
            <li>d) Contact Crimestoppers on 0800 555 111</li>
            <li>e) Contact the Police</li>
            <li>f) Contact Anti-Slavery International or other specialist anti-slavery organisations</li>
          </ol>
        </li>
        <li>
          4. To find out more information about what Modern Slavery is and what you can do to tackle it, please view the IPHR Forum Modern
          Slavery Toolkit for the Waste and Recycling Sector.
        </li>
      </ol>
    </div>
  </div>
</app-un-auth-layout>
