<div class="container-fluid">
  <div class="row">
    <div class="wrapper col-12 mt-5 background-primary rounded-4">
      <div class="mx-auto col-12 d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
        <div class="text-white text-center text-md-start mb-4 mb-md-0">
          <h4 class="fs-32 fw-bold mb-0">{{ 'Not finding what you need?' | translate }}</h4>
          <p class="mb-0 fw-bold fs-24" style="line-height: 30px">{{ 'Click the button to list a required material' | translate }}</p>
        </div>
        <button
          mat-flat-button
          class="primary border bg-white text-primary button-custom-style fw-bold fs-16"
          style="height: 60px; width: 384px; max-width: 100%"
          [routerLink]="[ROUTES_WITH_SLASH.createWantedListing]"
        >
          {{ 'LIST REQUIRED MATERIAL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
